Resources:
  NewContactTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName: "email"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
  NewContactTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Endpoint:
            Fn::GetOptionSetting:
              OptionName: NewContactEmail
              DefaultValue: "gangeshwark@gmail.com"
          Protocol: email
files:
  "/var/app/app.config":
    mode: "000444"
    owner: "apache"
    group: "apache"
    content: |
      AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
      CONTACT_TABLE = '`{ "Ref" : "NewContactTable"}`'
      NEW_CONTACT_TOPIC = '`{ "Ref" : "NewContactTopic"}`'

option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "application.py"
  "aws:elasticbeanstalk:application:environment":
    "APP_CONFIG": "/var/app/app.config"
    "FLASK_DEBUG": "True"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"